<html>
  <head>
    <title>KM Pending Orders</title>
    <script src="/static/lib/angular/angular15.min.js"></script>
    <script src="/static/js/controllers.js"></script>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/apple-touch-icon-114x114-precomposed.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/apple-touch-icon-72x72-precomposed.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon-57x57-precomposed.png">

    <!-- For windows Phone: -->
    <meta name="msapplication-TileImage" content="/static/img/favicon144x144.png">
    <meta name="msapplication-TileColor" content="#c8bebd">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
  </head>
  <body ng-app="ngOutstandingApp" ng-controller="ngKMPOController">
    <h1 class="text-center">KM Pending Orders</h1>
    <div class="well">
      <div ng-repeat="x in showVerbatimOnTop">
        <span>{{x}}</span>
      </div>
      <div ng-repeat="(comp, isoDateAsString) in showVerbatimOnTopDateISO">
        <span>{{date}}</span>
        <span>{{comp}} | {{timeDiffInDaysFromNow(isoDateAsString)}} days</span>
      </div>
      <span ng-bind="statusNote"></span>
    </div>
    <div class="container">
      <div ng-repeat="singlePelletSizeOrders in kmpo">
        <div class="panel panel-primary">
          <div class="panel-heading">
            {{singlePelletSizeOrders[0]}}
          </div>
          <table class="table">
            <tr>
              <th>Bore</th>
              <th>Grade</th>
              <th>Qty</th>
              <th>PO Date</th>
              <th>Instructions</th>
            </tr>
            <tr ng-repeat="o in singlePelletSizeOrders[1]">
              <td >{{o.boreSize}}</td>
              <td >{{o.grade}}</td>
              <td >{{o.quantity}} pc</td>
              <td >{{o.poDateAsNormalText}}</td>
              <td >{{o.deliveryInstructions}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
